.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-button {
    width: 500px;
}
.log-header {
    margin-bottom: 1.5rem;
    padding: 1rem;
    width: 90vw;
    border-bottom: 1px solid rgba(37, 37, 37, 0.5);
}
.log-header h2 {
    font-size: 1.5rem;
}
@media only screen and (max-width: 850px) {
    .login-button {
        width: 310px;
    }
}
