.navigation {
    /* border: 3px solid yellow; */
    position: relative;
    background-color: rgb(37, 37, 37);
    top: 0;
    height: 3.5rem;
    width: 100%;
    z-index: 1;
}

.navigation-burger {
    font-size: 2rem;
    padding: 0.3rem 0.8rem;
    cursor: pointer;
    margin: 0;
}
.navigation-close {
    color: white;
    font-size: 2rem;
    margin: 0;
    padding: 0.3rem 0.8rem;
    cursor: pointer;
    width: 3.5rem;
    height: 3.5rem;
    background-color: rgb(37, 37, 37);
}

.navigation-modal {
    position: absolute;
    display: block;
    height: auto;
    /* min-height: 10rem; */
    width: 100vw;
    background-color: white;
    animation: slide-in 1s;
    top: 3.5rem;
    border-bottom: 1px solid black;
}
.link-container {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.navigation-link {
    padding: 2rem;
}
.navigation-link a {
    font-size: 2rem;
    cursor: pointer;
    color: black;
}
.burger {
    width: 30px;
    height: 2px;
    background-color: white;
    margin: 9px 0;
}
/* .navigation-link > .logout {
    position: absolute;
    bottom: 4rem;
} */
@keyframes slide-in {
    from {
        visibility: hidden;
    }
    to {
        visibility: visible;
    }
}

@media only screen and (max-width: 850px) {
    .navigation {
        /* border: 1px solid yellowgreen; */
        height: 3.5rem;
    }

    .navigation-modal {
        width: 100vw;
    }
    .navigation-burger {
        font-size: 2rem;
    }
    @keyframes slide-in {
        from {
            visibility: hidden;
        }
        to {
            visibility: visible;
        }
    }
}
