.recipe-modal-container {
    padding-top: 3rem;
    display: flex;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    color: black;
    z-index: 5;
}

.recipe-modal-content {
    justify-content: center;
    display: flex;
    margin: 4rem auto;
    width: 45vw;
    background-color: white;
    animation: appear 1s;
    overflow: auto;
    padding: 1.5rem;
}

@keyframes appear {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.recipe-modal-image {
    width: 300px;
    height: 300px;
    object-fit: cover;
    margin: 1rem auto;
    display: flex;
}

.recipe-close-modal {
    position: relative;
    margin: 0.5rem;
    text-decoration: none;
    color: black;
    z-index: 300;
    cursor: pointer;
}

.recipe-close-modal p {
    position: relative;
    font-size: 1.2rem;
}

.save-button-container {
    display: flex;
    justify-content: center;
    padding: 2rem 0 2rem 0;
}

@media only screen and (max-width: 850px) {
    .recipe-modal-container {
        padding-top: 0;
    }
    .recipe-modal-content {
        margin: 0;
        padding: 1rem;
        height: 100vh;
        width: 95vw;
        background-color: white;
        animation: appear 1s;
    }
    .recipe-modal-image {
        width: 250px;
        height: 250px;
        object-fit: cover;
    }
}
