.scroll-top-button-container {
    position: sticky;
    bottom: 3rem;
    z-index: 100000 !important;
}
.scroll-top-button {
    position: absolute;
    /* right: 1rem; */
    border: none;
    background-color: tomato;
    height: 48px;
    color: white;
    width: 48px;
}
