.single-recipe-container {
    width: 16rem;
    margin-bottom: 2rem;
    padding: 1rem;
}
.recipe-information {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.restaurant-address {
    display: flex;
    justify-content: space-between;
}
.restaurant-address li {
    display: flex;
    list-style-type: none;
}
.restaurant-address p {
    display: flex;
    flex-direction: column;
}
.click-info {
    text-align: center;
    font-size: 0.8rem;
    margin-top: -1rem;
}
