.link-container {
    /* border: 2px dotted red; */
    position: absolute;
    top: 0;
    margin-left: 3rem;
    height: 3.5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(37, 37, 37);
    width: 80%;
    z-index: 3;
}
.link-button {
    background-color: rgb(37, 37, 37);
    border: none;
}
.route-link {
    font-family: "Roboto";
    letter-spacing: -2px;
    font-size: 2rem;
    color: whitesmoke;
    cursor: pointer;
}
.route-link:hover {
    color: tomato;
}
@media only screen and (max-width: 850px) {
    .route-link {
        font-size: 1.5rem;
    }
}
